
.icon-heart:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
