// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@mixin imagecontainer {
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}

@mixin mh400 {
  max-height: 400px;
}

@mixin banner {
  min-height: 500px;
  background-size: cover;
}

@mixin custom_border {
  border: 1px solid $customcolor1;
}

$customcolor1: #ff9500;

$light: $customcolor1;
$primary: $customcolor1;

@import "../bootstrap-5.2.0-beta1/scss/bootstrap.scss";

// Then add additional custom code here

.banner {
  @include banner();
  background-image: url(../images/pejzazh-priroda-43292.jpg);
  background-position: top;
}

.banner_info {
  background-color: transparentize($color: #fbfbfb, $amount: 0.8);
}

.mh400,
.carousel-item {
  @include mh400();
}

.food_container1 {
  @include imagecontainer();
  background-image: url(../images/food1.jpg);
}
.food_container2 {
  @include imagecontainer();
  background-image: url(../images/food2.jpg);
}

.custom_border {
  border-bottom: 1px solid $customcolor1;
}

h2 {
  color: $customcolor1;
}

a:focus {
  outline: 3px solid $customcolor1;
}

.wip {
  min-height: 70vh;
}

.custbox {
  background-color: $customcolor1;
  color: #fbfbfb;
}

.banner_thai {
  @include banner();
  background-image: url(../images/Thailand/thai_banner.jpeg);
  background-position: bottom;
}

.nav_list {
  position: sticky;
  top: 50px;
}

ul {
  list-style-type: none;
}

#comment_input {
  @include custom_border();
  width: 70%;
  outline-color: $customcolor1;
}

.comment_box {
  @include custom_border();
  padding: 20px;
}

.comment_avatar {
  max-width: 90px;
  border-radius: 50%;
}

.username {
  max-width: 200px;
}
