// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@mixin imagecontainer {
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border-radius: $border-radius-2xl;
}

@mixin mh400 {
  max-height: 400px;
}

@mixin banner {
  min-height: 500px;
  background-size: cover;
}

@mixin custom-border {
  border: 1px solid $customcolor1;
}

$customcolor1: #05716c;
$customcolor2: #1978a5;

$light: $customcolor2;
$primary: $customcolor2;

@import '../bootstrap-5.2.0-beta1/scss/bootstrap.scss';

// Then add additional custom code here

* {
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none;
  }
}

.banner {
  @include banner();
  background-image: url(../images/pejzazh-priroda-43292.jpg);
  background-position: top;
}

.banner-info {
  background-color: transparentize($color: #fbfbfb, $amount: 0.8);
}

.mh400,
.carousel-item {
  @include mh400();
}

.food-container1 {
  @include imagecontainer();
  background-image: url(../images/food1.jpg);
}
.food-container2 {
  @include imagecontainer();
  background-image: url(../images/food2.jpg);
}

.btn-primary {
  --bs-btn-color: var(--bs-white);
}

h2 {
  color: $customcolor1;
}

a:focus {
  outline: none;
}

.wip {
  min-height: 45vh;
}

.banner-thai {
  @include banner();
  background-image: url(../images/Thailand/thai_banner.jpeg);
  background-position: bottom;
}

.nav-list {
  position: sticky;
  top: 50px;
}

ul {
  list-style-type: none;
}

.comment-box {
  @include custom-border();
  padding: 20px;

  .comment-avatar {
    max-width: 90px;
    border-radius: 50%;
  }
}

footer {
  border-top: 1px solid $customcolor1;
  background-color: transparentize($color: $customcolor1, $amount: 0.95);
}

.carousel-inner {
  border-radius: $border-radius-xl;
}

.test {
  background-color: transparentize($color: $customcolor1, $amount: 0.95);
  border-radius: $border-radius-xl;
}
